body {
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  
.sidebar {
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #FFFFFF;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 0% 10%;
  }


button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

.burger,
.menu {
    position: fixed;
  }

.burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("images/menu_white_48dp.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

body.open .burger {
    background-image: url("images/close_white_48dp.svg");
  }

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 250px;
    height: 100%;
    background: #95979A;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  }

.menu nav {
    opacity: 0;
  }

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
  }

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }

body.open .menu nav {
    opacity: 1;
  }

.menu nav:hover a {
    opacity: 0.25;
  }

.menu nav a:hover {
    opacity: 1;
  }

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.menu a {
    position: relative;
    color: #FFFFFF;
    font-size: 32px;
    padding: 20px 10px;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
  }

.menu a::before,
.menu a::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
  } 

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background-color: #f7f7f7;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transition: -30px 0;
    }
    100% {
        opacity: 1;
    }
}
  
  .main-content {
    /* 主內容樣式 */
  }

  .main-content header {
    background-color: #0A70D7;
    width: 100%;
    height: 85px;
    position: fixed;
  }

  .main-content h1 {
    color: #FFFFFF;
    position: absolute;
    left: 90px;
  }

  body.open header h1 {
    transform: translateX(190px); /* 這個值應該與您的選單寬度相匹配 */
    transition: transform 0.3s ease; /* 添加平滑過渡效果 */
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    flex-basis: calc(33% - 20px);
    /* 根據需要調整大小和其他樣式 */
  }
  
  .fa-house {
    font-size: 2.5em; /* 設置圖示大小*/
    position: fixed; /* 使用 fixed 定位 */
    top: 40px; /* 距離頂部  */
    right: 30px; /* 距離右側 */
    color: white;
    cursor: pointer;
  }
