div.mycontainer {
    width:100%;
    overflow:auto;
  }

 div.mycontainer div {
    width:33%;  
    float:left;
  }

.Inline-block {
    width: 30%;
    display: inline-block;
}

.myflexbox {
    display: flex;
}

.myflexbox > div {
    width: 33%;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.note {
    font-size: 120%;
    color: red;
}

.capital {
    background-color: chocolate;
    color: wheat;
    padding: 10px;
}

.cities {
    background-color: indigo;
    color: Lavender;
    padding: 10px;
}

.main {
    text-align: center;
}

.france {
    background-color: SteelBlue;
    color: LightCyan;
    padding: 10px;
}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#myHeader2 {
    background-color: dodgerblue;
    color: rgb(4, 7, 32);
    padding: 40px;
    text-align: center;
}

.idccity {
    background-color: rgb(255, 141, 30);
    color: white;
    padding: 10px;
}